::-webkit-scrollbar {
    display: none;
}

html, body {
    width: 100%;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

.bg-white {
    background: #fff;
}

/* Navbar */
    #logo {
        width: 150px;
    }

    .navbar-collapse {
        transition: 1s;
    }

    .navbar2-desktop {
        position: absolute;
        transform: none;
        visibility: hidden;
    }

    .rrss {
        color: #616161;
    }

    .rrss:hover {
        color: #212121;
    }

    .nav-ls {
        letter-spacing: normal;
    }

    

/* Main */
    main {
        margin-top: 110px;
    }

    .tile-img {
        border-radius: 5px;
    }

    .tiles-title {
        color: #000;
    }

    #services {
        width: 45vh;
    }

    #main-frame {
        position: fixed;
        top: 15%;
        left: 50%;
        transform: translate(-50%, -5%) !important;
        width: 100vw;
        height: 93vh;
    }

    #proy-frame {
        position: relative;
        top: -60px !important;
        width: 90vw;
        height: 88vh;
        
    }

    .btn-submit {
        width: 50%;
    }

    .sh-light {
        text-shadow: #f5f5f5 !important;
    }

    .sh-dark {
        text-shadow: 1px 2px 3px #000;
    }

    .space-mobile {
        height: 110px;
    }

    /* Screen SM */
    @media only screen and (min-width: 576px) {
        #logo {
            width: 200px;
        }
    }

    /* Screen MD */
    @media only screen and (min-width: 768px) {
        #logo {
            width: 240px;
        }

        main {
            margin-top: 130px;
        }

        #services {
            width: 70vh;
        }
    }

    /* Screen LG */
    @media only screen and (min-width: 992px) {
        #logo {
            width: 270px;
        }

        .navbar-collapse {
            transition: none;
        }

        .navbar2-desktop {
            top: 5.5em;
            visibility: visible;
            transform: translate(-20%, -5%);
        }

        #main-frame {
            top: 160px;
            height: 87vh;
        }

        #proy-frame {
            height: 90vh;
        }

        #services {
            width: 110vh;
        }

        .btn-submit {
            width: 25%;
        }

        .space-mobile {
            height: 0;
        }

        .nav-ls {
            letter-spacing: 5px;
        }
    }

    @media only screen and (max-width: 992px) {
        .nav-item {
            border: #424242 !important;
        }

        .navbar-collapse {
            background: rgba(255,255,255,.95);
            border-radius: 10px;
        }
    }

    /* Screen XL*/
    @media only screen and (max-width: 1200px) {
        .nav-link {
            font-size: 15px !important;
        }
    }

    /* @media only screen and (min-height: 900px) {
        #main-frame {
            transform: translate(-50%, -7%) !important;
        }
    } */